<!-- emails.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emails List</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="navbar">
      <a href="/"> <img src="nashLogo.png" /></a>
      <a class="navbarContent" id="active" href="/"> About </a>
      <a class="navbarContent" href="/projects"> Projects </a>
      <a class="navbarContent" href="/contact"> Contact </a>

      <a class="navbarContent-icon" href="https://github.com/nashmglq">
        <i class="fab fa-github"></i>
      </a>
      <a class="navbarContent-icon" href="https://www.instagram.com/vn_shq">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="navbarContent-icon" href="https://x.com/nt_stvnnsh">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="navbarContent-icon" href="https://www.facebook.com/acts.peta">
        <i class="fab fa-facebook"></i>
      </a>
    </div>

    <div class="container">



    <% contacts.map(contact => { %>
      <li>
        <strong>Email</strong> <%= contact.email %><br>
        <strong>Subject</strong> <%= contact.subject %><br>
        <strong>Message</strong> <%= contact.message %><br>
      </li>
    <% }); %>
      
    </div>
  </body>
</html>


